@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=JetBrains+Mono:wght@800&display=swap');


h1, h3, h4, .eyebrow, h2.text-base{
    text-transform:uppercase;
}

h2:not(.text-base){
    text-transform:uppercase;
    padding-top: 56px;
    padding-bottom: 24px;
    margin-bottom: 32px !important;
    border-bottom: 1px solid black;
}

h5{
    text-transform:uppercase;
    border-bottom: 1px solid #E8E0D9;
    padding-bottom: 16px;
}

html{
    #navigation-items{
        font-family: 'JetBrains Mono', monospace;
        text-transform:uppercase;
    }
    #navigation-items a{
        height: 48px;
    }
}