:root {
    --inference-white: #F8F2EC;
    --inference-white-darker: #F1E9E2;
    --inference-white-lighter:#FAF7F4;

    --inference-black: #141414;
    --inference-black-darker: #0F0F0F;

    --inference-border-dark: #292929;
    --inference-border-light: #E8E0D9;
}

html.dark 
{
    .card{
        background-color: var(--inference-black);
        border-color:var(--inference-border-dark);
    }
    .card:hover{
        border-color: var(--inference-white) !important;
    }

    h2:not(.text-base){
        border-bottom: 1px solid var(--inference-border-dark);
    }
    h5{
        border-bottom: 1px solid var(--inference-border-dark);
    }
    .codeblock-light{
        border: 1px solid var(--inference-border-dark);
    }
}

html:not(.dark)
{ 
    .card {
        background-color: var(--inference-white);
        border-color:var(--inference-white-darker);
        background-color: var(--inference-white-lighter);
    }
    .card:hover{
        border-color: var(--inference-black) !important;
    }
    .codeblock-light{
        border: 1px solid var(--inference-border-light);
        background-color: var(--inference-white-lighter);
    }
    h2:not(.text-base){
        border-bottom: 1px solid var(--inference-border-light);
    }
    h5{
        border-bottom: 1px solid var(--inference-border-light);
    }
    
}
.list-none{
    height: 40px;
}